.card {
  height: fit-content;
  overflow: hidden;
  margin-bottom: var(--spacing-md);
}
.card .img-container {
  border-radius: var(--radius-md);
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card .description h3 {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
